[Desktop Entry]
Type=Application
Version=1.0
Name=conky
Path=/home/majramos/AppImages
Exec=./conky-x86_64.AppImage -d --pause=20
Terminal=false
NoDisplay=false
Hidden=false
