[Desktop Entry]
Type=Application
Exec=conky -d  --pause=10 --config=~/.config/conky/conky.conf
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=conky
Comment[en_US]=Startup conky
X-GNOME-Autostart-Delay=0
